################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Demo/线程lock/bin/Debug
/Demo/线程lock/obj/Debug
/Notes/obj/Debug
/Notes/obj/Release
/WPF/DXSplashScreen/obj/Debug
/WPF/DXSplashScreen/obj/Release
/Demo/Timer计时器/bin/Debug
/Demo/Timer计时器/obj/Debug
/Demo/Timer计时器/obj/Release
/Demo/线程lock/obj/Release
/FFMPEG/bin/Debug
/FFMPEG/obj/Debug
/LoadingWnd/bin/Debug
/LoadingWnd/obj/Debug
/Notes/bin/Debug
/Demo/FFMPEG/bin/Debug
/Demo/FFMPEG/obj/Debug
/Demo/FFMPEG/obj/Release
/Demo/LoadingWnd/bin/Debug
/Demo/LoadingWnd/obj/Debug
/Demo/LoadingWnd/obj/Release
/Demo/NetMQ_Client/bin/Debug
/Demo/NetMQ_Client/obj/Debug
/Demo/NetMQ_Client/obj/Release
/Demo/NetMQ_Server/bin/Debug
/Demo/NetMQ_Server/obj/Debug
/Demo/NetMQ_Server/obj/Release
/Demo/人脸相似度识别/bin/Debug
/Demo/人脸相似度识别/obj/Debug
/Demo/人脸相似度识别/obj/Release
/EmguCVTest/bin/Debug
/EmguCVTest/bin/Release
/EmguCVTest/obj/Debug
/EmguCVTest/obj/Release
/GTA挂机/bin/Debug
/GTA挂机/bin/x64
/GTA挂机/obj/Debug
/GTA挂机/obj/Release
/GTA挂机/obj/x64/Debug
/GTA挂机/obj/x64/Release
/OpenCV/bin/Debug
/OpenCV/obj/Debug
/OpenCV/obj/Release
/OpenCV/obj/x86/Debug
/等待所有子线程结束/obj/Debug
/等待所有子线程结束/bin/Debug
/等待所有子线程结束/obj/Release
/WPF/DXSplashScreen/bin/Debug
/R_Auto_Task/bin/Debug
/R_Auto_Task/obj/Debug
/PYAutoGui/bin/Debug
/PYAutoGui/obj/Debug
/PYAutoGui/obj/Release
/packages
/Tesseract_OCR/bin/Debug
/Tesseract_OCR/obj/Debug
