################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Demo/线程lock/bin/Debug
/Demo/线程lock/obj/Debug
/Notes/obj/Debug
/Notes/obj/Release
/WPF/DXSplashScreen/obj/Debug
/WPF/DXSplashScreen/obj/Release
/Demo/Timer计时器/bin/Debug
/Demo/Timer计时器/obj/Debug
/Demo/Timer计时器/obj/Release
/Demo/线程lock/obj/Release
