@{
    Layout = null;

}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

     <video width="480" height="320" controls="controls" autoplay="autoplay">
        <source src="/Videos/GetVideoStream?filename=League of Legends 2022.08.11 - 21.56.55.02&ext=mp4" type="video/mp4">
    </video>

</body>
</html>
<script>

</script>
