@{
    Layout = null;
    List<FileInfo> FileInfoList = ViewBag.Videos;
    string spath = ViewBag.ServerPath;

    List<string> Videos = new List<string>();
    foreach (var fi in FileInfoList)
    {
        string vidoePath = fi.FullName.Remove(0, spath.Length);
        Videos.Add("../Video/" + vidoePath);
    }
    //ViewBag.Videos = getFileName(path);

    var i = 0;
    var index = 0;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        foreach (var path in Videos)
        {
            i++;
            <div style="margin:0 auto;width:550px;height:350px">
                <div>
                    <video controls="controls" width="500" height="300">
                        <source src="@path" />
                    </video>

                </div>
            </div>
            <div style="margin:0 auto;width:550px">
                <button onclick="Delete(this,@i)">删除</button>
                <a href="/Home/Delete?FilePath=@path" id="a_@i" style="display:none">确认</a>
                @{index = path.IndexOf("\\") == -1 ? path.IndexOf("/") : path.IndexOf("\\");}
                <a>@path.Substring(index + 1)</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a>@(Math.Round(Convert.ToDouble(Convert.ToDouble(FileInfoList[i - 1].Length) / (1024F * 1024F * 1024F)), 4)) GB</a>
                <p>@FileInfoList[i-1].LastWriteTime</p>
            </div>
        }
    }


</body>
</html>
<script>
    function Delete(btn, index) {
        var OkBtn = document.querySelector("#a_" + index);
        OkBtn.style.display = "block";
        btn.style.display = "none";
    }
</script>
