@{
    Layout = null;
    List<VideoFile> VideoFiles = ViewBag.Videos;
    string spath = ViewBag.ServerPath;
    var i = 0;
    var index = 0;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @{
        foreach (var videoFile in VideoFiles)
        {
            i++;
            //<div style="margin:0 auto;width:550px;height:350px">
            //    <div>
            //        <video controls="controls" width="500" height="300">
            //            <source src="../../Video/@path" />
            //        </video>

            //    </div>
            //</div>
            <div style="margin:0 auto;width:550px">
                <p>@videoFile.Name</p>
                <p>@videoFile.Size G</p>
                <button onclick="Delete(this,@i)">删除</button>
                <button onclick="Play(this,@i)">播放</button>
                <div id=""></div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <p>@videoFile.LastWriteTime</p>
            </div>
        }
        //<a href="/Home/Delete?FilePath=@FileInfoList[i-1]&Type=AV" id="a_@i" style="display:none">确认</a>
        //@{index = path.IndexOf("\\") == -1 ? path.IndexOf("/") : path.IndexOf("\\");}
    }


</body>
</html>
<script>
    function Delete(btn, index) {
        var OkBtn = document.querySelector("#a_" + index);
        OkBtn.style.display = "block";
        btn.style.display = "none";
    }
</script>
